.carousel-inner img {
  width: 100%;
  height: 100%;
}
.carousel-item {
  height: 1250;
}
.logo {
  background-color: black;
}
.logo img {
  width: 100%;
}

.col-md-6 p {
  font-family: monospace;
  font-size: 19px;
}
.nav-item a:hover {
  color: floralwhite;
}

.col-md-8 {
  background: linear-gradient(darkslategray, black);
}
.col-md-8 p {
  font-family: monospace;
  font-size: 19px;
}
.col-md-2 {
  background-color: black;
}

.col-md-12 h1 {
  font-family: "Footlight MT Light";
  font-weight: bold;
  color: white;
  text-shadow: white;
  font-style: italic;
  font-size: 50px;
}

.asscreed {
  background: linear-gradient(darkslategray, black);
  font-family: Mangal;
}
.col-md-11 {
  background: linear-gradient(darkslategray, black);
}

.col-md-11 ul li a {
  text-decoration: none;
  font-weight: bold;
  color: red;
  font-family: "Comic Sans MS";
  font-style: normal;
  font-size: 25px;
}
.col-md-11 ul li {
  text-decoration: none;
  font-weight: bold;
  color: red;
  font-family: "Comic Sans MS";
  font-style: normal;
  padding-top: 20px;
}

.col-md-12 img {
  margin-left: -15px;
}
.col-md-12 p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: normal;
  padding-bottom: 20px;
}

.col-md-4 h3 {
  font-family: "Footlight MT Light";
  background: linear-gradient(darkslategray, black);
}
.col-md-12 ul li {
  font-family: "Comic Sans MS";
}
.call {
  color: white;
  list-style: none;
  font-weight: bold;
  font-size: 19px;
}

.call li a {
  color: white;
}
.col-md-12 h2 {
  font-family: "Footlight MT Light";
  font-size: 60px;
}

@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,700");

* {
  padding: 0;
  margin: 0;
}

html {
  background-color: linear-gradient(darkslategray, black);
}

body {
  font-family: "Cookie", cursive;
  font-size: 18px;
}

header {
  text-align: center;
  padding-top: 100px;
  margin-bottom: 190px;
}

header h1 {
  font: normal 50px "Cookie", cursive;
  color: white;
  padding-bottom: 16px;
}

header h2 {
  color: white;
}

header span {
  color: white;
}

/* The footer is fixed to the bottom of the page */

/* @media (max-height: 800px) {
  footer {
    position: static;
  }
  header {
    padding-top: 40px;
  } 
 } */
.footer-distributed {
  background-color: darkslategrey;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 20px "Cookie", cursive;
  padding: 45px 50px 50px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 30%;
}

.footer-distributed h3 {
  color: white;
  font: normal 42px "Cookie", cursive;
  margin: 0;
}

/* The company logo */

.footer-distributed .footer-left img {
  width: 30%;
}

.footer-distributed h3 {
  color: rgb(220, 41, 41);
  font-size: 42px;
  padding-top: 5px;
  padding-bottom: -5px;
}

/* Footer links */

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.5;
  text-decoration: none;
  color: inherit;
  font-size: 22px;
}
.footer-distributed .footer-links a:hover {
  color: red;
}
.footer-distributed .footer-icons a:hover {
  color: red;
}

.footer-distributed .footer-company-name {
  color: white;
  font-size: 50px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: darkslategrey;
  color: white;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 20px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: white;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 24px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: white;
  font-size: 24px;
  text-decoration: none;
}

/* Footer Right */

.footer-distributed .footer-right {
  width: 30%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  font-size: 20px;
  font-weight: normal;
  margin: 0;
  padding: 5px 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
  color: rgb(220, 41, 41);
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  /* background-color: ; */
  border-radius: 2px;

  font-size: 25px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

/* Here is the code for Responsive Footer */
/* You can remove below code if you don't want Footer to be responsive */

@media (max-width: 880px) {
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i {
    margin-left: 0;
  }
}
